.column
{
    width: 33.3% !important;
    float: left;
    padding-bottom: 10px;
}
.header
{
    cursor: move;
    background-color: Gray;
}
.pane
{
    margin: 0px 10px 10px 0px;
    border: solid 1px Gray;
}
.placeholder
{
    margin: 0px 10px 10px 0px;
    border: dashed 1px Gray;
}